.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .game-and-description-container {
    width: 425px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card-container {
      display: grid;
      max-width: 100%;
      max-height: 100%;
      gap: 12px;
      grid-template-columns: repeat(4, 1fr);
      padding: 12px;
      background: #8b5a2b;
      border-top: 4px solid #cd9d6f;
      border-left: 4px solid #cd9d6f;
      border-bottom: 4px solid #61412a;
      border-right: 4px solid #61412a;
      box-shadow: 0 0 0 3px #242424;
      border-radius: 1px;
    }

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      height: calc(100vh - 4rem);
      flex: 1;
    }
  }

  .highscore-banner {
    position: fixed;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 32px;
    background-color: #938775;
    z-index: 10000;
    text-align: center;
    transform-origin: center;
    animation:
      rollOutFromCenter 0.6s ease-in-out forwards,
      rollOutFromCenter 3s reverse forwards 0.6s;

    h1 {
      font-size: 60px;
    }
  }
}

@keyframes rollOutFromCenter {
  0% {
    transform: translate(-50%, -50%) scaleX(0);
    opacity: 0;
  }
  50% {
    transform: translate(-50%, -50%) scaleX(1.05);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scaleX(1);
    opacity: 1;
  }
}
