.card-front {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 3px #242424;
  border-radius: 1px;
  background: rgb(235, 235, 235);
  border-top: 4px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-bottom: 4px solid #4d4d4d;
  border-right: 4px solid #4d4d4d;
  transform-origin: center;
  transition: transform 250ms steps(4, end); /* pixel-y steps */

  .img-container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.hide-img {
  background: #aaca54;
  border-top: 4px solid #e9fdb3;
  border-left: 4px solid #e9fdb3;
  border-bottom: 4px solid #5e7229;
  border-right: 4px solid #5e7229;
  transform: rotateY(180deg);

  .img-container {
    display: none;
  }
}

.match {
  pointer-events: none;
  animation:
    matchPop 0.8s ease-in,
    flash 0.8s ease-in;
}

@keyframes matchPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes flash {
  0%,
  100% {
    box-shadow: 0 0 0 4px #242424;
  }
  50% {
    box-shadow: 0 0 10px #fff200;
  }
}
