.score {
  display: flex;
  align-items: center;
  padding: 34px 24px;
  margin: 18px 0;
  justify-content: space-between;
  font-size: 24px;
  background: #8b5a2b;
  border-top: 6px solid #cd9d6f;
  border-left: 6px solid #cd9d6f;
  border-bottom: 6px solid #61412a;
  border-right: 6px solid #61412a;
  box-shadow: 0 0 0 4px #242424;
  border-radius: 1px;
  height: 62px;

  button {
    font-family: "Jersey 10", monospace;
    font-size: 18px;
    background: #938775;
    padding: 8px 18px;
    border: 4px solid #2f3a1f;
    border-radius: 1px;
    border-top: 6px solid #cabeab;
    border-left: 6px solid #cabeab;
    border-bottom: 6px solid rgb(58, 50, 44);
    border-right: 6px solid rgb(58, 50, 44);
    box-shadow: 0 0 0 2px #242424;
    cursor: pointer;
    letter-spacing: 1px;

    &:hover {
      color: #ffea00;
    }

    &:active {
      border-top: 6px solid rgb(58, 50, 44);
      border-left: 6px solid rgb(58, 50, 44);
      border-bottom: 6px solid #cabeab;
      border-right: 6px solid #cabeab;
    }
  }

  .score-container {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    p {
      span {
        color: rgb(255, 234, 0);
        margin-right: 4px;
        letter-spacing: 1px;
      }
    }
  }
}
