* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Jersey 10", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
  color: #ffe100;
  letter-spacing: 4px;
}
